
@keyframes glowing {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.4);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2);
    }
  }
  
  .glow-border {
    animation: glowing 2s infinite;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px; /* Adjust the radius as needed */
  }
  

.scrolling {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.scrolling::-webkit-scrollbar {
  width: 8px;
}

.scrolling::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
